%h2 Main
%p
  Credit Card is up and running.
  %br
  Features available:
  %ul
    %li
      %a{href: '/newcard'}
        Create a New Credit Card
    %li
      %a{href: '/usercards'}
        Credit Card Available
 
